In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({"Person":
                   ["John", "Myla", None, "John", "Myla"],
                    "Age": [24., 25, 21., 33, 26],
                    "Single": [False, True, True, True, False]})
df

  Person   Age  Single
0   John  24.0   False
1   Myla  25.0    True
2   None  21.0    True
3   John  33.0    True
4   Myla  26.0   False

In [5]:
df.count()

Person    4
Age       5
Single    5
dtype: int64

In [6]:
df.count(axis='columns')

0    3
1    3
2    2
3    3
4    3
dtype: int64

In [ ]:
df.set_index(["Person", "Single"]).count(level="Person")